/* Hero section */
.hero {
  position: relative;
  height: 70vh;
  background-color: #000;
  overflow: hidden;
}

.hero-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 0.9;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}



/* Logo */
.logo-img {
  width: 500px;
  height: auto;
}

/* Footer */
.footer-logo {
  width: 80px;
  height: auto;
}

/* Responsive ajustes */
@media (max-width: 768px) {
  .hero {
    height: 50vh;
  }
  .hero-text h1 {
    font-size: 1.8rem;
  }
  .logo-img {
    width: 150px;
  }
}

/* Navbar transparente y fijo */
.site-nav {
  background-color: rgba(255, 255, 255, 0.785); /* transparencia en el color */
  position: fixed; /* nav fijo */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1030; /* encima del contenido */
}


body {
  padding-top: 0;
}

.main-content {
  padding-top: 70px; /* espacio arriba para el nav fijo */
}
