/*  navbar */
.site-nav {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1030;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-img {
  width: 140px;
  height: auto;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  filter: invert(0.5);
}

/*  hero + formulario */
.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 10;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

/* Formulario sobre el hero */
.registro-container {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 450px;
}

.registro-container h2 {
  font-weight: bold;
}

/*  RESPONSIVE */
@media (max-width: 768px) {
  .logo-img {
    width: 110px;
  }

  .registro-container {
    padding: 1.5rem;
    width: 95%;
  }

  .hero {
    height: 90vh;
  }
}
